html {
    position: relative;
    min-height: 100%;
}

* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

.warning_info {
    text-align: center;
    color: #E20808;
}

body {
    font-family: Trebuchet MS;
    font-size:14px;
    color: #444;
    height: 100%;
	width: 100%;
    background: #DADFE1;
    margin-bottom: 60px;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

#header {
    width: 100%;
    height: 300px;
    background: #444444;
}

.main {
    width: 960px;
    position: absolute;
    background: #fff;
    border: 1px solid #b4b9bb;
    padding: 20px;
}

.logo {
    margin: 0 auto;
    width:1000px;
    height:75px;
    color:#fff;
    font-weight: bold;
    font-size: 30px;
}

.clear {
    width:100%;
    height:50px;
}

.left{
    width: 220px;
    float: left;
}

.content {
    width: 650px;
    float: right;
    border-left: 1px solid #b4b9bb;
    padding: 20px;
    margin: 20px;
}

button {
    margin: 10px;
}

ul{
    list-style:none;
}

li{
    margin-top:10px;   
}

a{
    color:#0B2C3C;
}

a:hover{
    color:#FF6666;   
}

#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.text-muted {
    text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}