<center><font size="4px"><b>Первая программа на C++</b></font></center>
        <br><b>Создание проекта</b>
        <br><br>Откройте меню «Файл → Создать → Проект». Перейдите на вкладку «Общие» и выберите «Пустой проект». Придумайте проекту любое название, например «lesson1» и нажмите «OK».
В окне обозревателя решений (обычно он находится в левом верхнем углу) щелкните правой кнопкой на папке «файлы исходного кода». В диалоговом окне выберите пункт меню «Добавить → Создать элемент». Введите название для нового файла — main.cpp и нажмите кнопку «Добавить».
            <br><br><b>Код первой программы</b>
            <br><br>Наберите следующий код:
            <br><br><code>#include &lt;iostream&gt;<br>using namespace std;
<br><br>int main() 
<br>{ 
    <br>cout << "Hello, world!" << endl;
    <br>system("pause"); // Только для тех, у кого MS Visual Studio
    <br>return 0; 
<br>}</code>
            <br><br><b>Описание синтаксиса</b>
            <br><br>Директива #include используется для подключения других файлов в код. Строка #include &lt;iostream&gt;, будет заменена содержимым файла «iostream.h», который находится в стандартной библиотеке языка и отвечает за ввод и вывод данных на экран.
<br><br>Содержимое второй строки — using namespace std; указывает на то, что мы используем по умолчанию пространство имен с названием «std». Все то, что находится внутри фигурных скобок функции int main() {} будет автоматически выполняться после запуска программы.
<br><br>Строка cout << "Hello, world!" << endl; говорит программе выводить сообщение с текстом «Hello, world» на экран.
<br><br>Оператор cout предназначен для вывода текста на экран командной строки. После него ставятся две угловые кавычки (<<). Далее идет текст, который должен выводиться. Он помещается в двойные кавычки. Оператор endl переводит строку на уровень ниже.
<br><br>Если в процессе выполнения произойдет какой-либо сбой, то будет сгенерирован код ошибки, отличный от нуля. Если же работа программы завершилась без сбоев, то код ошибки будет равен нулю. Команда return 0 необходима для того, чтобы передать операционной системе сообщение об удачном завершении программы.
<br><br>— В конце каждой команды ставится <b>точка с запятой.</b>
            <br><br><b>Компиляция и запуск</b>
            <br><br>Теперь скомпилируйте и запустите программу. Тем, кто пользуется MS Visual Studio, нужно нажать сочетание клавиш «Ctrl+F5».
            <br><br>Если программа собралась с первого раза, то хорошо. Если компилятор говорит о наличии ошибок, значит вы что-то сделали неправильно.
<br><br>Прочитайте текст ошибки и попробуйте ее исправить своими силами. Если не получится, напишите о вашей проблеме в комментариях.
<br><br>В качестве домашнего задания, переделайте эту программу так, чтобы вместо, сообщения «Hello, World» выводилось сообщение «Hello, User».
            <br><br><b>Следующий урок:</b> <a href="/lesson/2">Переменные и типы данных на C++</a>