
        <center><font size="4px"><b>Переменные и типы данных в C++</b></font></center>
        <br><b>Типы данных</b>
        <br><br>В языке С++ все переменные имеют определенный тип данных. Например, переменная, имеющая целочисленный тип не может содержать ничего кроме целых чисел, а переменная с плавающей точкой — только дробные числа.
<br><br>Тип данных присваивается переменной при ее объявлении или инициализации. Ниже приведены основные типы данных языка C++, которые нам понадобятся.
            <br><br><b>Основные типы данных в C++</b>
            <br><br><b>- int</b> - целочисленный тип данных.
            <br><b>- float</b> - тип данных с плавающей запятой.
            <br><b>- double</b> - тип данных с плавающей запятой двойной точности.
            <br><b>- char</b> - символьный тип данных.
            <br><b>- bool</b> - логический тип данных.
            <br><br><b>Объявление переменной</b>
            <br><br>Объявление переменной в C++ происходит таким образом: сначала указывается тип данных для этой переменной а затем название этой переменной.
            <br><br><code>int a; // объявление переменной a целого типа. 
<br>float b; // объявление переменной b типа данных с плавающей запятой. 
<br>double c = 14.2; // инициализация переменной типа double. 
<br>char d = 's'; // инициализация переменной типа char. 
<br>bool k = true; // инициализация логической переменной k.</code>
            <br><br> - Заметьте, что в C++ оператор присваивания (=) — не является знаком равенства и не может использоваться для сравнения значений. Оператор равенства записывается как «двойное равно» — ==.
<br><br> - Присваивание используется для сохранения определенного значение в переменной. Например, запись вида a = 10 задает переменной a значение числа 10.
            <br><br><b>Простой калькулятор на C++</b>
            <br><br>Сейчас мы напишем простую программу-калькулятор, которая будет принимать от пользователя два целых числа, а затем определять их сумму:
            <br><br><code>#include &lt;iostream&gt; 
<br>using namespace std;

<br><br>int main() 
<br>{ 
    <br>setlocale(0, ""); 
    <br>/*7*/ int a, b; // объявление двух переменных a и b целого типа данных. 
    <br>cout << "Введите первое число: "; 
    <br>cin >> a; // пользователь присваивает переменной a какое-либо значение. 
    <br>cout << "Введите второе число: "; 
    <br>cin >> b; 
    <br>/*12*/  int c = a + b; // новой переменной c присваиваем значение суммы введенных пользователем данных. 
    <br>cout << "Сумма чисел = " << c << endl; // вывод ответа. 
    <br>return 0; 
<br>}</code>
            <br><br><b>Разбор кода</b>
            <br><br>В 7-й строке кода программы мы объявляем переменные «a» и «b» целого типа int. В следующей строке кода выводится сообщение пользователю, чтобы он ввел с клавиатуры первое число.
<br><br>В 9-й строке стоит еще незнакомый вам оператор — cin. Этот оператор просит пользователя ввести значение переменной «b» с клавиатуры. Аналогичным образом задается значение переменной «c».
<br><br>В 12-й строке мы производим инициализацию переменной «c» суммой переменных «a» и «b». Далее находится уже знакомый вам оператор cout, который выводит на экран строку и значение переменной «c».
<br><br>- При выводе переменных, они не заключаются в кавычки, в отличие от строк.
            <br><br><b>Следующий урок:</b> <a href="/lesson/3">Алгоритм ветвления в C++</a>