
        <center><font size="4px"><b>Алгоритм ветвления в C++</b></font></center>
            <br>Встречаются ситуации, когда программе нужно выбрать, какую операцию ей выполнить, в зависимости от определенного условия.
<br><br>К примеру, мы вводим с клавиатуры целое число. Если это число больше десяти, то программа должна выполнить одно действие, иначе — другое. Реализуем этот алгоритм на C++ с помощью конструкции ветвления.
            <br><br><code>#include &lt;iostream&gt;
<br>using namespace std;

<br><br>int main()
<br>{
    <br>setlocale(0, "");
    <br>double num;

    <br><br>cout << "Введите произвольное число: ";
    <br>cin >> num;

    <br><br>if (num < 10) { // Если введенное число меньше 10.
        <br>cout << "Это число меньше 10." << endl;
    <br>} else { // иначе
        <br>cout << "Это число больше либо равно 10." << endl;
    <br>}
    <br>return 0;
<br>}</code>
            <br><br>Если вы запустите эту программу, то при вводе числа, меньшего десяти, будет выводиться соответствующее сообщение.
<br><br>Если введенное число окажется большим, либо равным десяти — отобразится другое сообщение.
        <br><br><b>Оператор if</b>
        <br><br>Оператор if служит для того, чтобы выполнить какую-либо операцию в том случае, когда условие является верным. Условная конструкция в С++ всегда записывается в круглых скобках после оператора if.
<br><br>Внутри фигурных скобок указывается тело условия. Если условие выполнится, то начнется выполнение всех команд, которые находятся между фигурными скобками.
            <br><br><b>Пример конструкции ветвления</b>
            <br><br><code>if (num < 10) {  // Если введенное число меньше 10.
    <br>cout << "Это число меньше 10." << endl;
<br>} else {  // иначе
    <br>cout << "Это число больше либо равно 10." << endl;
<br>}</code>
            <br><br>Здесь говорится: «Если переменная num меньше 10 — вывести соответствующее сообщение. Иначе, вывести другое сообщение».
<br><br>Усовершенствуем программу так, чтобы она выводила сообщение, о том, что переменная num равна десяти:
<br><br><code>if (num < 10) {  // Если введенное число меньше 10.
    <br>cout << "Это число меньше 10." << endl;
<br>} else if (num == 10) {
    <br>cout << "Это число равно 10." << endl;
<br>} else {  // иначе
    <br>cout << "Это число больше 10." << endl;
<br>}</code>
            <br><br>Здесь мы проверяем три условия:
<br><br>- Первое — когда введенное число меньше 10-ти
<br>- Второе — когда число равно 10-ти
<br>- И третье — когда число больше десяти
<br><br>Заметьте, что во втором условии, при проверке равенства, мы используем оператор равенства — ==, а не оператор присваивания, потому что мы не изменяем значение переменной при проверке, а сравниваем ее текущее значение с числом 10.
<br><br>- Если поставить оператор присваивания в условии, то при проверке условия, значение переменной изменится, после чего это условие выполнится.
<br><br>Каждому оператору if соответствует только один оператор else. Совокупность этих операторов — else if означает, что если не выполнилось предыдущее условие, то проверить данное. Если ни одно из условий не верно, то выполняется тело оператора else.
<br><br>Если после оператора if, else или их связки else if должна выполняться только одна команда, то фигурные скобки можно не ставить. Предыдущую программу можно записать следующим образом:
            
            <br><br><code>#include &lt;iostream&gt;
<br>using namespace std;

<br><br>int main()
<br>{
    <br>setlocale(0, "");
    <br>double num;

    <br><br>cout << "Введите произвольное число: ";
    <br>cin >> num;

    <br><br>if (num < 10) // Если введенное число меньше 10.
        <br>cout << "Это число меньше 10." << endl;
    <br>else if (num == 10)
        <br>cout << "Это число равно 10." << endl;
   <br> else  // иначе
        <br>cout << "Это число больше 10." << endl;

    <br><br>return 0;
<br>}</code>
            <br><br>Такой метод записи выглядит более компактно. Если при выполнении условия нам требуется выполнить более одной команды, то фигурные скобки необходимы. Например:
            <br><br><code>#include <iostream>
<br>using namespace std;

<br><br>int main()
<br>{
    <br>setlocale(0, "");
    <br>double num;
    <br>int k;

    <br><br>cout << "Введите произвольное число: ";
    <br>cin >> num;

    <br><br>if (num < 10) {  // Если введенное число меньше 10.
        <br>cout << "Это число меньше 10." << endl;
        <br>k = 1;
    <br>} else if (num == 10) {
        <br>cout << "Это число равно 10." << endl;
        <br>k = 2;
    <br>} else {  // иначе
        <br>cout << "Это число больше 10." << endl;
        <br>k = 3;
    <br>}

   <br><br> cout << "k = " << k << endl;
    <br>return 0;
    <br>} </code>
            <br><br>Данная программа проверяет значение переменной num. Если она меньше 10, то присваивает переменной k значение единицы. Если переменная num равна десяти, то присваивает переменной k значение двойки. В противном случае — значение тройки. После выполнения ветвления, значение переменной k выводится на экран.
            <br><br><b>Следующий урок:</b> <a href="/lesson/4">Циклы в C++</a>