
        <center><font size="4px"><b>Циклы в C++</b></font></center>
            <br>Иногда необходимо повторять одно и то же действие несколько раз подряд. Для этого используют циклы. В этом уроке мы научимся программировать циклы на C++, после чего посчитаем сумму всех чисел от 1 до 1000.
            <br><br><b>Цикл for</b>
            <br><br>Если мы знаем точное количество действий (итераций) цикла, то можем использовать цикл for. Синтаксис его выглядит примерно так:
            <br><br><code>for (действие до начала цикла;
     <br>условие продолжения цикла;
     <br>действия в конце каждой итерации цикла) {
         <br>инструкция цикла;
         <br>инструкция цикла 2;
         <br>инструкция цикла N;
<br>}</code>
            <br><br>Существует частный случай этой записи, который мы сегодня и разберем:
            <br><br><code>for (счетчик = значение; счетчик < значение; шаг цикла) {
    <br>тело цикла;
<br>}</code>
            
        <br><br><b>Описание синтаксиса</b>
        <br><br>1. Сначала присваивается первоначальное значение счетчику, после чего ставится точка с запятой.
<br><br>2. Затем задается конечное конечное значение счетчика цикла. После того, как значение счетчика достигнет указанного предела, цикл завершится. Снова ставим точку с запятой.
<br><br>3. Задаем шаг цикла. Шаг цикла — это значение, на которое будет увеличиваться или уменьшаться счетчик цикла при каждом проходе.
            <br><br><b>Пример кода</b>
            <br><br>Напишем программу, которая будет считать сумму всех чисел от 1 до 1000.
            <br><br><code>#include &lt;iostream&gt;
<br>using namespace std;

<br><br>int main()
<br>{
    <br>int i; // счетчик цикла
    <br>int sum = 0; // сумма чисел от 1 до 1000.
    <br>setlocale(0, "");
    <br>for (i = 1; i <= 1000; i++) // задаем начальное значение 1, конечное 1000 и задаем шаг цикла - 1.
    <br>{
       <br> sum = sum + i;
    <br>}
    <br>cout << "Сумма чисел от 1 до 1000 = " << sum << endl;         
    <br>return 0;
<br>}</code>
            <br><br>Если мы скомпилируем этот код и запустим программу, то она покажет нам ответ: 500500. Это и есть сумма всех целых чисел от 1 до 1000. Если считать это вручную, понадобится очень много времени и сил. Цикл выполнил всю рутинную работу за нас.
<br><br>Заметьте, что конечное значение счетчика я задал нестрогим неравенством ( <= — меньше либо равно), поскольку, если бы я поставил знак меньше, то цикл произвел бы 999 итераций, т.е. на одну меньше, чем требуется. Это довольно важный момент, т.к. здесь новички часто допускают ошибки, особенно при работе с массивами (о них будет рассказано в следующем уроке). Значение шага цикла я задал равное единице. i++ — это тоже самое, что и i = i + 1.
<br><br>В теле цикла, при каждом проходе программа увеличивает значение переменной sum на i. Еще один очень важный момент — в начале программы я присвоил переменной sum значение нуля. Если бы я этого не сделал, программа вылетела вы в сегфолт. При объявлении переменной без ее инициализации что эта переменная будет хранить «мусор».
<br><br>Естественно к мусору мы ничего прибавить не можем. Некоторые компиляторы, такие как gcc, инициализирует переменную нулем при ее объявлении.
            <br><br><b>Цикл while</b>
            <br><br>Когда мы не знаем, сколько итераций должен произвести цикл, нам понадобится цикл while или do...while. Синтаксис цикла while в C++ выглядит следующим образом.
            <br><br><code>while (Условие) {
    <br>Тело цикла;
<br>}</code>
            <br><br>Данный цикл будет выполняться, пока условие, указанное в круглых скобках является истиной. Решим ту же задачу с помощью цикла while. Хотя здесь мы точно знаем, сколько итераций должен выполнить цикл, очень часто бывают ситуации, когда это значение неизвестно.
<br><br>Ниже приведен исходный код программы, считающей сумму всех целых чисел от 1 до 1000.
            <br><br><code>#include <iostream>
<br>using namespace std;

<br><br>int main()
<br>{
    <br>setlocale(0, "");
    <br>int i = 0; // инициализируем счетчик цикла.
    <br>int sum = 0; // инициализируем счетчик суммы.
    <br>while (i < 1000)
    <br>{
       <br> i++;
        <br>sum += i;
    <br>}
    <br>cout << "Сумма чисел от 1 до 1000 = " << sum << endl; 
    <br>return 0;
<br>}</code>
            <br><br>После компиляции программа выдаст результат, аналогичный результату работы предыдущей программы. Но поясним несколько важных моментов. Я задал строгое неравенство в условии цикла и инициализировал счетчик i нулем, так как в цикле while происходит на одну итерацию больше, потому он будет выполняться, до тех пор, пока значение счетчика перестает удовлетворять условию, но данная итерация все равно выполнится. Если бы мы поставили нестрогое неравенство, то цикл бы закончился, когда переменная i стала бы равна 1001 и выполнилось бы на одну итерацию больше.
<br><br>Теперь давайте рассмотрим по порядку исходный код нашей программы. Сначала мы инициализируем счетчик цикла и переменную, хранящую сумму чисел.
<br><br>В данном случае мы обязательно должны присвоить счетчику цикла какое-либо значение, т.к. в предыдущей программе мы это значение присваивали внутри цикла for, здесь же, если мы не инициализируем счетчик цикла, то в него попадет «мусор» и компилятор в лучшем случае выдаст нам ошибку, а в худшем, если программа соберется — сегфолт практически неизбежен.
<br><br>Затем мы описываем условие цикла — «пока переменная i меньше 1000 — выполняй цикл». При каждой итерации цикла значение переменной-счетчика i увеличивается на единицу внутри цикла.
<br><br>Когда выполнится 1000 итераций цикла, счетчик станет равным 999 и следующая итерация уже не выполнится, поскольку 1000 не меньше 1000. Выражение sum += i является укороченной записью sum = sum + i.
<br><br>После окончания выполнения цикла, выводим сообщение с ответом.
            <br><br><b>Цикл do while</b>
            <br><br>Цикл do while очень похож на цикл while. Единственное их различие в том, что при выполнении цикла do while один проход цикла будет выполнен независимо от условия. Решение задачи на поиск суммы чисел от 1 до 1000, с применением цикла do while.
            <br><br><code>#include <iostream>
<br>using namespace std;

<br><br>int main()
<br>{
    <br>setlocale(0, "");
    <br>int i = 0; // инициализируем счетчик цикла.
    <br>int sum = 0; // инициализируем счетчик суммы.
    <br>do {// выполняем цикл.
        <br>i++;
        <br>sum += i;
    <br>} while (i < 1000); // пока выполняется условие.
    <br>cout << "Сумма чисел от 1 до 1000 = " << sum << endl;
    <br>return 0;
<br>}</code>
            <br><br>Принципиального отличия нет, но если присвоить переменной i значение, большее, чем 1000, то цикл все равно выполнит хотя бы один проход.
            <br><br><b>Следующий урок:</b> <a href="/lesson/5">Массивы в C++</a>