
        <center><font size="4px"><b>Массивы в C++</b></font></center>
            <br><br><b>Пример инициализации массива</b>
            <br><br><code>string students[10] = {
    <br>"Иванов", "Петров", "Сидоров",
    <br>"Ахмедов", "Ерошкин", "Выхин",
    <br>"Андеев", "Вин Дизель", "Картошкин", "Чубайс"
<br>};</code>
        <br><br><b>Описание синтаксиса</b>
        <br><br>Массив создается почти так же, как и обычная переменная. Для хранения десяти фамилий нам нужен массив, состоящий из 10 элементов. Количество элементов массива задается при его объявлении и заключается в квадратные скобки.
<br><br>Чтобы описать элементы массива сразу при его создании, можно использовать фигурные скобки. В фигурных скобках значения элементов массива перечисляются через запятую. В конце закрывающей фигурной скобки ставится точка с запятой.
<br><br>Попробуем вывести наш массив на экран с помощью оператора cout.
            <br><br><code>#include &lt;iostream&gt;
<br>#include &lt;string&gt;

<br><br>int main()
<br>{
    <br> std::string students[10] = {
        <br>"Иванов", "Петров", "Сидоров",
        <br>"Ахмедов", "Ерошкин", "Выхин",
        <br>"Андеев", "Вин Дизель", "Картошкин", "Чубайс"
    <br>};
    <br>std::cout << students << std::endl; // Пытаемся вывести весь массив непосредственно
    <br>return 0;
<br>}</code>
            <br><br>Скомпилируйте этот код и посмотрите, на результат работы программы. Готово? А теперь запустите программу еще раз и сравните с предыдущим результатом. В моей операционной системе вывод был следующим:
<br><br>- Первый вывод: 0x7ffff8b85820
<br><br>- Второй вывод: 0x7fff7a335f90
<br><br>- Третий вывод: 0x7ffff847eb40
<br><br>Мы видим, что выводится адрес этого массива в оперативной памяти, а никакие не «Иванов» и «Петров».
<br><br>Дело в том, что при создании переменной, ей выделяется определенное место в памяти. Если мы объявляем переменную типа int, то на машинном уровне она описывается двумя параметрами — ее адресом и размером хранимых данных.
<br><br>Массивы в памяти хранятся таким же образом. Массив типа int из 10 элементов описывается с помощью адреса его первого элемента и количества байт, которое может вместить этот массив. Если для хранения одного целого числа выделяется 4 байта, то для массива из десяти целых чисел будет выделено 40 байт.
<br><br>Так почему же, при повторном запуске программы, адреса различаются? Это сделано для защиты от атак переполнения буфера. Такая технология называется рандомизацией адресного пространства и реализована в большинстве популярных ОС.
<br><br>Попробуем вывести первый элемент массива — фамилию студента Иванова.
            <br><br><code>#include &lt;iostream&gt;
<br>#include &lt;string&gt;

<br><br>int main()
<br>{
    <br> std::string students[10] = {
        <br>"Иванов", "Петров", "Сидоров",
        <br>"Ахмедов", "Ерошкин", "Выхин",
        <br>"Андеев", "Вин Дизель", "Картошкин", "Чубайс"
    <br>};
    <br>std::cout << students[0] << std::endl;
    <br>return 0;
<br>}</code>
            <br><br>Смотрим, компилируем, запускаем. Убедились, что вывелся именно «Иванов». Заметьте, что нумерация элементов массива в C++ начинается с нуля. Следовательно, фамилия первого студента находится в students[0], а фамилия последнего — в students[9].
<br><br>В большинстве языков программирования нумерация элементов массива также начинается с нуля.
<br><br>Попробуем вывести список всех студентов. Но сначала подумаем, а что если бы вместо группы из десяти студентов, была бы кафедра их ста, факультет из тысячи, или даже весь университет? Ну не будем же мы писать десятки тысяч строк с cout?
<br><br>Конечно же нет! Мы возьмем на вооружение циклы, о которых был написан предыдущий урок.
            <br><br><b>Вывод элементов массива через цикл</b>
            <br><br><code>#include &lt;iostream&gt;
<br>#include &lt;string&gt;

<br><br>int main()
<br>{
    <br> std::string students[10] = {
        <br>"Иванов", "Петров", "Сидоров",
        <br>"Ахмедов", "Ерошкин", "Выхин",
        <br>"Андеев", "Вин Дизель", "Картошкин", "Чубайс"
    <br>};
    <br>for (int i = 0; i < 10; i++) {
        <br>std::cout << students[i] << std::endl;
    <br>}
    <br><br>return 0;
<br>}</code>
            <br><br>Если бы нам пришлось выводить массив из нескольких тысяч фамилий, то мы бы просто увеличили конечное значение счетчика цикла — строку for (...; i < 10; ...) заменили на for (...; i < 10000; ...).
<br><br>Заметьте что счетчик нашего цикла начинается с нуля, а заканчивается девяткой. Если вместо оператора строгого неравенства — i < 10 использовать оператор «меньше, либо равно» — i <= 10, то на последней итерации программа обратится к несуществующему элементу массива — students[10]. Это может привести к ошибкам сегментации и аварийному завершению программы. Будьте внимательны — подобные ошибки бывает сложно отловить.
<br><br>Массив, как и любую переменную можно не заполнять значениями при объявлении.
            <br><br><b>Объявление массива без инициализации</b>
            <br><br><code>string students[10];
<br>// или
<br>string teachers[5];</code>
            <br><br>Элементы такого массива обычно содержат в себе «мусор» из выделенной, но еще не инициализированной, памяти. Некоторые компиляторы, такие как GCC, заполняют все элементы массива нулями при его создании.
<br><br>При создании статического массива, для указания его размера может использоваться только константа. Размер выделяемой памяти определяется на этапе компиляции и не может изменяться в процессе выполнения.
            <br><br><code>int n;
<br>cin >> n;
<br>string students[n]; /* Неверно */</code>
            <br><br>Выделение памяти в процессе выполнения возможно при работе с динамическими массивами. Но о них немного позже.
<br><br>Заполним с клавиатуры пустой массив из 10 элементов.
            <br><br><b>Заполнение массива с клавиатуры</b>
            <br><br><code>#include &lt;iostream&gt;
<br>#include &lt;string&gt;

<br><br>using std::cout;
<br>using std::cin;
<br>using std::endl;

<br><br>int main()
<br>{    
        <br>int arr[10];

        <br><br>// Заполняем массив с клавиатуры
        <br>for (int i = 0; i < 10; i++) {
            <br>cout << "[" << i + 1 << "]" << ": ";
            <br>cin >> arr[i];
        <br>}

        <br><br>// И выводим заполненный массив.
        <br>cout << "\nВаш массив: ";

        <br><br>for (int i = 0; i < 10; ++i) {
            <br>cout << arr[i] << " ";
        <br>}

        <br><br>cout << endl;

        <br><br>return 0;
<br>}</code>
            <br><br><b>Следующий урок:</b> <a href="/lesson/6">Указатели в C++</a>