
        <center><font size="4px"><b>Указатели в C++</b></font></center>
            <br><br>При выполнении любой программы, все необходимые для ее работы данные должныбыть загружены в оперативную память компьютера. Для обращения к переменным, находящимся в памяти, используются специальные адреса, которые записываются в шестнадцатеричном виде, например 0x100 или 0x200.
<br><br>Если переменных в памяти потребуется слишком большое количество, которое не сможет вместить в себя сама аппаратная часть, произойдет перегрузка системы или её зависание.
<br><br>Если мы объявляем переменные статично, так как мы делали в предыдущих уроках, они остаются в памяти до того момента, как программа завершит свою работу, а после чего уничтожаются.
<br><br>Такой подход может быть приемлем в простых примерах и несложных программах, которые не требуют большого количества ресурсов. Если же наш проект является огромным программным комплексом с высоким функционалом, объявлять таким образом переменные, естественно, было бы довольно не умно.
<br><br>Можете себе представить, если бы небезызвестная Battlefield 3 использовала такой метод работы с данными? В таком случае, самым заядлым геймерам пришлось бы перезагружать свои высоконагруженные системы кнопкой reset после нескольких секунд работы игры.
<br><br>Дело в том, что играя в тот же Battlefield, геймер в каждый новый момент времени видит различные объекты на экране монитора, например сейчас я стреляю во врага, а через долю секунды он уже падает убитым, создавая вокруг себя множество спецэффектов, таких как пыль, тени, и т.п.
<br><br>Естественно, все это занимает какое-то место в оперативной памяти компьютера. Если не уничтожать неиспользуемые объекты, очень скоро они заполнят весь объем ресурсов ПК.
<br><br>По этим причинам, в большинстве языков, в том числе и C/C++, имеется понятие указателя. Указатель — это переменная, хранящая в себе адрес ячейки оперативной памяти, например 0x100.
<br><br>Мы можем обращаться, например к массиву данных через указатель, который будет содержать адрес начала диапазона ячеек памяти, хранящих этот массив.
<br><br>После того, как этот массив станет не нужен для выполнения остальной части программы, мы просто освободим память по адресу этого указателя, и она вновь станет доступно для других переменных.
<br><br>Ниже приведен конкретный пример обращения к переменным через указатель и напрямую.
            <br><br><b>Пример использования статических переменных</b>
            <br><br><code>#include &lt;iostream&gt;
<br>using namespace std;

<br><br>int main()
<br>{
   <br> int a; // Объявление статической переменной
    <br>int b = 5; // Инициализация статической переменной b

    <br><br>a = 10;
    <br>b = a + b;
    <br>cout << "b is " << b << endl;
    <br>return 0;
<br>}</code>
        <br><br><b>Пример использования динамических переменных</b>
            <br><br><code>#include &lt;iostream&gt;
<br>using namespace std;

<br><br>int main()
<br>{
    <br>int *a = new int; // Объявление указателя для переменной типа int
    <br>int *b = new int(5); // Инициализация указателя

    <br><br>*a = 10;
    <br>*b = *a + *b;

    <br><br>cout << "b is " << *b << endl;

    <br><br>delete b;
    <br><br>delete a;

    <br><br>return 0;
<br>}</code>
            <br><br>Синтаксис первого примера вам уже должен быть знаком. Мы объявляем/инициализируем статичные переменные a и b, после чего выполняем различные операции напрямую с ними.
<br><br>Во втором примере мы оперируем динамическими переменными посредством указателей. Рассмотрим общий синтаксис указателей в C++.
<br><br>Выделение памяти осуществляется с помощью оператора new и имеет вид: тип_данных *имя_указателя = new тип_данных;, например int *a = new int;. После удачного выполнения такой операции, в оперативной памяти компьютера происходит выделение диапазона ячеек, необходимого для хранения переменной типа int.
<br><br>Логично предположить, что для разных типов данных выделяется разное количество памяти. Следует быть особенно осторожным при работе с памятью, потому что именно ошибки программы, вызванные утечкой памяти, являются одними из самых трудно находимых. На отладку программы в поисках одной ничтожной ошибки, может уйти час, день, неделя, в зависимости от упорности разработчика и объема кода.
<br><br>Инициализация значения, находящегося по адресу указателя выполняется схожим образом, только в конце ставятся круглые скобки с нужным значением: тип данных *имя_указателя = new тип_данных(значение). В нашем примере это int *b = new int(5).
<br><br>Для того, чтобы получить адрес в памяти, на который ссылается указатель, используется имя переменной-указателя с префиксом &. перед ним (не путать со знаком ссылки в C++).
<br><br>Например, чтобы вывести на экран адрес ячейки памяти, на который ссылается указатель b во втором примере, мы пишем cout << "Address of b is " << &b << endl;. В моей системе, я получил значение 0x1aba030. У вас оно может быть другим, потому что адреса в оперативной памяти распределяются таким образом, чтобы максимально уменьшить фрагментацию. Поскольку, в любой системе список запущенных процессов, а также объем и разрядность памяти могут отличаться, система сама распределяет данные для обеспечения минимальной фрагментации.
<br><br>Для того, чтобы получить значение, которое находится по адресу, на который ссылается указатель, используется префикс *. Данная операция называется разыменованием указателя.
<br><br>Во втором примере мы выводим на экран значение, которое находится в ячейке памяти (у меня это 0x1aba030): cout << "b is " << *b << endl; . В этом случае необходимо использовать знак *.
<br><br>Чтобы изменить значение, находящееся по адресу, на который ссылается указатель, нужно также использовать звездочку, например, как во втором примере — *b = *a + *b;.
<br><br>Когда мы оперируем данными, то используем знак *
<br><br>Когда мы оперируем адресами, то используем знак &
<br><br>В этих вещах очень часто возникают недопонимания, и кстати, не только у новичков. Многие из тех, кто начинал программировать с того же php, также часто испытывают подобную путаницу при работе с памятью.
<br><br>Для того, чтобы освободить память, выделенную оператором new, используется оператор delete.
            <br><br><b>Пример освобождения памяти</b>
            <br><br><code>#include <iostream>
<br>using namespace std;

<br><br>int main()
<br>{
    <br>// Выделение памяти
    <br>int *a = new int;
    <br>int *b = new int;
    <br>float *c = new float;

    <br><br>// ... Любые действия программы

    <br><br>// Освобождение выделенной памяти
    <br>delete c;
    <br>delete b;
    <br>delete a;

    <br>return 0;
<br>}</code>
            <br><br>При использовании оператора delete для указателя, знак * не используется.
            <br><br><b>Следующий урок:</b> <a href="/lesson/7">Динамические массивы в C++</a>