
        <center><font size="4px"><b>Динамические массивы в C++</b></font></center>
            <br><br>В пятом уроке мы разобрали понятие массива. При объявлении, мы задавали массиву определенный постоянный размер. Возможно, кто-то из читателей пробовал делать так:
            <br><br><code>int n = 10;
<br>int arr[n];</code>
            <br><br>Но, как уже было сказано — при объявлении статического массива, его размером должна являться числовая константа, а не переменная. В большинстве случаев, целесообразно выделять определенное количество памяти для массива, значение которого изначально неизвестно.
<br><br>Например, необходимо создать динамический массив из N элементов, где значение N задается пользователем. В предыдущем уроке мы учились выделять память для переменных, используя указатели. Выделение памяти для динамического массива имеет аналогичный принцип.
        <br><br><b>Создание динамического массива</b>
            <br><br><code>#include &lt;iostream&gt;
<br>using namespace std;

<br><br>int main()
<br>{
    <br>int num; // размер массива
    <br>cout << "Enter integer value: ";
    <br>cin >> num; // получение от пользователя размера массива

    <br><br>int *p_darr = new int[num]; // Выделение памяти для массива
    <br>for (int i = 0; i < num; i++) {
        <br>// Заполнение массива и вывод значений его элементов
        <br>p_darr[i] = i;
        <br>cout << "Value of " << i << " element is " << p_darr[i] << endl;
   <br> }
    <br>delete [] p_darr; // очистка памяти
    <br>return 0;
<br>}</code>
            <br><br>Синтаксис выделения памяти для массива имеет вид указатель = new тип[размер]. В качестве размера массива может выступать любое целое положительное значение.
            <br><br><b>Следующий урок:</b> <a href="/lesson/8">Параметры командной строки в C++</a>