
        <center><font size="4px"><b>Параметры командной строки в C++</b></font></center>
            <br><br>При запуске программы из командной строки, ей можно передавать дополнительные параметры в текстовом виде. Например, следующая команда
            <br><br><code>ping -t 5 google.com</code>
            <br><br>Будет отправлять пакеты на адрес google.com с интервалом в 5 секунд. Здесь мы передали программе ping два параметра — это задержка между запросами и адрес хоста для обмена пакетами.
<br><br>Эти параметры описываются, как аргументы функции main(). Первый аргумент — это количество параметров, которые были переданы программе. В качестве первого аргумента всегда передается название самого файла программы. Второй аргумент — это массив, хранящий все остальные параметры.
        <br><br><b>пример</b>
            <br><br><code>#include &lt;iostream&gt;
<br>using namespace std;

<br><br>int main(int argc, char *argv[])
<br>{
    <br>for (int i = 0; i < argc; i++) {
        <br>// Выводим список аргументов в цикле
        <br>cout << "Argument " << i << " : " << argv[i] << endl;
    <br>}
    <br>return 0;
<br>}</code>
            <br><br>Откройте командную строку и запустите оттуда скомпилированную программу.
            <br><br><img width="670px" src="../../static/images/2.png"/>
            <br><br><b>Следующий урок:</b> <a href="/lesson/9">Векторы в C++</a>