
        <center><font size="4px"><b>Векторы в C++</b></font></center>
            <br><br>Вектор в C++ — это замена стандартному динамическому массиву, память для которого выделяется вручную, с помощью оператора new.
 <br><br>Разработчики языка рекомендуют в использовать именно vector вместо ручного выделения памяти для массива. Это позволяет избежать утечек памяти и облегчает работу программисту.
            <br><br><b>Пример создания вектора</b>
            <br><br><code>#include &lt;iostream&gt;
<br>#include &lt;vector&gt;

<br><br>int main()
<br>{
    <br>// Вектор из 10 элементов типа int
    <br>std::vector<int> v1(10);

    <br><br>// Вектор из элементов типа float
    <br>// С неопределенным размером
    <br>std::vector<float> v2;

    <br><br>// Вектор, состоящий из 10 элементов типа int
    <br>// По умолчанию все элементы заполняются нулями
    <br>std::vector<int> v3(10, 0);

    <br>return 0;
<br>}</code>
            <br><br><b>Управление элементами вектора</b>
             <br><br>Создадим вектор, в котором будет содержаться произвольное количество фамилий студентов.
            <br><br><code>#include &lt;iostream&gt;
<br>#include &lt;vector&gt;
<br>#include &lt;string&gt;

<br><br>int main()
<br>{
    <br>// Поддержка кириллицы в консоли Windows
    <br>setlocale(LC_ALL, "");

    <br><br>// Создание вектора из строк
    <br>std::vector<std::string> students;

    <br><br>// Буфер для ввода фамилии студента
    <br>std::string buffer = "";

    <br><br>std::cout << "Вводите фамилии студентов. "
              <br><< "По окончание ввода введите пустую строку" << std::endl;

    <br><br><br>do {
        <br>std::getline(std::cin, buffer);
        <br>if (buffer.size() > 0) {
            <br>// Добавление элемента в конец вектора
            <br>students.push_back(buffer);
        <br>}
    <br>} while (buffer != "");

    <br><br>// Сохраняем количество элементов вектора 
    <br>unsigned int vector_size = students.size();

    <br><br>// Вывод заполненного вектора на экран
    <br>std::cout << "Ваш вектор." << std::endl;
    <br>for (int i = 0; i < vector_size; i++) {
        <br>std::cout << students[i] << std::endl; 
    <br>}

    <br><br>return 0;
<br>}</code>
            <br><br>Результат работы программы:
        <br><br><img width="670px" src="../../static/images/3.png"/>
            <br><br><b>Методы класса vector</b>
            <br><br>Для добавления нового элемента в конец вектора используется метод push_back(). Количество элементов определяется методом size(). Для доступа к элементам вектора можно использовать квадратные скобки [], также, как и для обычных массивов.
<br><br>- pop_back() — удалить последний элемент
<br>- clear() — удалить элемент вектора
<br>- empty() — проверить вектор на пустоту
<br><br>Подробное описание всех методов std::vector (на английском) есть на C++ Reference.