<!doctype html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>О проекте</title>
    <link href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.css') }}" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        <h1>CppCourses помогает новичкам и не только!</h1>
        <p>
            <br> Мне как студенту понятны трудности осваивания новичками нового для них материала.
            Поэтому я решил помогать всем тем, кто начал путь в становлении специалиста.
            <br>Этот самоучитель создан для тех, кто хочет освоить основы программирования на C++.
            Уроки рассчитаны, в первую очередь на новичков,
            но будут полезны и тем, кто уже имеет небольшой опыт
            в программировании. Мы начнем с основных принципов и закончим данный
            курс уже на более сложных примерах.

        </p>
    </div>
    {% include "footer.html" %}
</body>
</html>