{% extends 'admin_base.html' %}
{% block title %}Список пакетов{% endblock %}
{% block caption %}Список пакетов{% endblock %}
{% block content %}
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>№</th>
            <th>Наименование</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for work in works %}
        <tr>
            <td><a href="{{ url_for('admin_work', id=work.id) }}">{{ work.id }}</a></td>
            <td>{{ work.name }}</td>
            <td>
                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#removeModal"
                        data-code="{{ work.id }}"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('admin_task') }}">Добавить пакет</a>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $('#removeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var username = button.data('username');
            var modal = $(this);
            modal.find('#username').attr('value', username);
        })
    </script>
{% endblock %}