{% extends 'admin_base.html' %}
{% block title %}Список групп{% endblock %}
{% block caption %}Список групп{% endblock %}
{% block content %}
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>№</th>
            <th>Наименование</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for work in works %}
        <tr>
            <td><a href="{{ url_for('admin_group', id=group.id) }}">{{ group.id }}</a></td>
            <td>{{ work.name }}</td>
            <td>
                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#removeModal"
                        data-code="{{ group.id }}"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('admin_task') }}">Добавить группу</a>
<div class="modal" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                    <h4 class="modal-title">Подтвердите действие</h4>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотите удалить группу?</p>
                </div>
                <div class="modal-footer">
                    <form role="form" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="username" id="username">
                        <input type="submit" class="btn btn-danger" value="Да">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}