{% extends 'admin_base.html' %}
{% block title %}Пользователи{% endblock %}
{% block caption %}Пользователи{% endblock %}
{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Логин</th>
                {% for key, value in settings['users_attributes'].items() %}
                <th>{{ value.title }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for username in usernames %}
            <tr>
                <td><a href="{{ url_for('admin_user', username=username) }}">{{ username }}</a></td>
                {% for attr in settings['users_attributes'] %}
                <td>{{ users[username][attr] }}</td>
                {% endfor %}
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#removeModal" data-username="{{ username }}"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ url_for('admin_user') }}">Добавить пользователя</a>
    <div class="modal" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                    <h4 class="modal-title">Подтвердите действие</h4>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотите удалить пользователя?</p>
                </div>
                <div class="modal-footer">
                    <form role="form" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="username" id="username">
                        <input type="submit" class="btn btn-danger" value="Да">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $('#removeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var username = button.data('username');
            var modal = $(this);
            modal.find('#username').attr('value', username);
        })
    </script>
{% endblock %}