{% macro render_menu_item(path, label) %}
<li{% if request.path == path %} class="active"{% endif %}><a href="{{ path }}">{{ label }}</a></li>
{% endmacro %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ settings['title'] }}{% endblock %}</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body style="padding-top: 50px;">
    {% block body %}
    <header class="navbar navbar-inverse navbar-default navbar-fixed-top" role="banner">
        <div class="container" style="width: 940px !important;">
            <nav role="navigation">
                <ul class="nav navbar-nav">
                    {{ render_menu_item(url_for('admin_index'), "Настройки") }}
                    {{ render_menu_item(url_for('admin_languages'), "Языки программирования") }}
                    {{ render_menu_item(url_for('admin_users'), "Пользователи") }}
                    {{ render_menu_item(url_for('admin_groups'), "Группы") }}
                    {{ render_menu_item(url_for('admin_tasks'), "Задания") }}
                    {{ render_menu_item(url_for('admin_works'), "Пакеты") }}
                    {{ render_menu_item(url_for('admin_results'), "Результаты") }}
                    {{ render_menu_item(url_for('admin_logout'), "Выход") }}
                </ul>
            </nav>
        </div>
    </header>
    <div class="container" style="width: 940px !important;">
        <div class="row">
            <div class="col-xs-12">
                <h1>{% block caption %}{{ settings['title'] }}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>