{% extends 'admin_base.html' %}
{% block title %}{% if username %}Редактирование пользователя{% else %}Новый пользователь{% endif %}{% endblock %}
{% block caption %}{% if username %}Редактирование пользователя{% else %}Новый пользователь{% endif %}{% endblock %}
{% block content %}
{% for error in errors %}
    <p class="alert alert-warning">{{ error }}</p>
{% endfor %}
<form role="form" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        <label for="username">Логин</label>
        <input is="username" name="username" type="text" class="form-control" value="{{ username }}">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input is="password" name="password" type="text" class="form-control" value="{{ data.password }}">
    </div>
    {% for key, value in settings['users_attributes'].items() %}
    <div class="form-group">
        <label for="password">{{ value.title }}</label>
        <input id="password" name="{{ key }}" type="text" class="form-control" value="{{ data[key] }}">
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Сохранить">
    <a class="btn btn-default" href="{{ url_for('admin_users') }}">Отменить</a>
</form>
{% endblock %}