{% extends 'admin_base.html' %}
{% block title %}{% if work.title %}Редактирование пакета{% else %}Новый пакет{% endif %}{% endblock %}
{% block caption %}{% if work.title %}Редактирование пакета{% else %}Новый пакет{% endif %}{% endblock %}
{% block content %}
{% for error in errors %}
    <p class="alert alert-warning">{{ error }}</p>
{% endfor %}
<form role="form" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        <label for="title">Логин</label>
        <input id="title" name="title" type="text" class="form-control" value="{{ username }}">
    </div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Код</th>
                <th>Наименование</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for selectedTask in selectedTasks %}
            <tr>
                <td><a href="{{ url_for('admin_task', code=seletedTask.code) }}">{{ seletedTask.code }}</a></td>
                <td>{{ seletedTask.name }}</td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#removeModal" data-code="{{ seletedTask.code }}"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <fieldset class="form-group">
        <label for="taskSelect">Выберите задачу</label>
        <select class="form-control" id="taskSelect">
            {% for task in tasks %}
                <option>{{ task.name }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <button type="button" class="btn btn-default" id="add_task">Добавить подзадачу</button>
    <input type="submit" class="btn btn-primary" value="Сохранить">
    <a class="btn btn-default" href="{{ url_for('admin_users') }}">Отменить</a>
</form>
{% endblock %}