{% macro render_menu_item(path, label) %}
<li {% if request.path == path %}class="active"{% endif %}>
    <a href="{{ path }}">{{ label }}</a>
</li>
{% endmacro %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{% block title %}{{ settings.title }}{% endblock %}</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prettify.css') }}">
</head>
<body>
    <div class="container" style="width: 940px !important;">
        {% block body %}
        <div class="row">
            <div class="col-xs-12">
                <h2>{% block caption %}{{ settings.title|safe }}{% endblock %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                {% block content %}{% endblock %}
            </div>
            <div class="col-xs-3">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav nav-pills nav-stacked">
                        {{ render_menu_item(url_for('index'), _("Main")) }}
                        {#{% for code in tasks.keys() %}
                        {{ render_menu_item(url_for('task_view', code=code), tasks[code].brief_name) }}
                        {% endfor %}#}
                        {% for task in tasks %}
                        {{ render_menu_item(url_for('task_view', code=task.code), task.brief_name) }}
                        {% endfor %}
                        {% if settings['statement_file'] %}
                        {{ render_menu_item(url_for('statement'), _("Download problems")) }}
                        {% endif %}
                        {% if settings['show_results'] %}
                        {{ render_menu_item(url_for('get_total_results'), _("Results")) }}
                        {% endif %}
                        {{ render_menu_item(url_for('logout'), _("Logout")) }}
                    </ul>
                </nav>
                <p>{{ _('Time left') }}: <span id="timeleft">---</span></p>
            </div>
        </div>
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
    // Minutes until finish from the server
    var MinutesLeft = {{ time_left }};

    // transforms time in minutes into HH:MM
    function transformMin(t) {
      var h = Math.floor(Math.abs(t)/60);
      var m = Math.abs(t) % 60;
      return (t < 0 ? '-': '') + 
             (h > 0 ? h +' ч ' : '') +
             (m < 10 ? '0' + m : m) + ' м';
    }

    // ticker function to refresh time left display every minute
    function tick(){
      MinutesLeft--;
      document.getElementById('timeleft').innerHTML = transformMin(MinutesLeft); 
    }

    $(
        function(){
        document.getElementById('timeleft').innerHTML = transformMin(MinutesLeft); 

            // assign ticker function 
            var minutesLeftUpdater = setInterval(tick,60000);
        }
    );
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>