<!doctype html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.css') }}" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        <div class="main">
            <h1>Контакты разработчика</h1>
            <p>
                <br>Александр Сивцев
                <br>
                <br>ул. Кулаковского 46/2 1 подъезд
                <br>
                <br>89644294711
            </p>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>