<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    {% if content %}
    <title>{{content.title}}</title>
    {% else %}
    <title>Внутренняя ошибка</title>
    {% endif %}
    <link href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='../static/css/style.css') }}" rel="stylesheet">
</head>
<body>
    {% include "nav.html" %}

    {% if content %}
    <div class="container">
        <div class="main">
                <h1 class="text_muted">{{content.status}}</h1>
                <p class="text_muted">{{content.message}}</p>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="main">
                <h1 class="text_muted">500</h1>
                <p class="text_muted">Неизвестная внутренняя ошибка сервиса</p>
        </div>
    </div>
    {% endif %}
    {% include "footer.html" %}
</body>
</html>