<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{{ settings['title'] }}</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style type="text/css"> html, body, table{ width: 100%; height: 100%; } table { text-align: center; } </style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <h3>{{ _('Round is finished') }}</h3>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>