{% extends 'base.html' %}
{% block content %}

<h3>Ко всем задачам тура предъявляются следующие технические требования:</h3>

<p><strong>Проверка производится автоматически.</strong> Поэтому ваша программа должна читать данные из файла, а не с клавиатуры, и вывод записывать тоже в файл. Ни в коем случае нельзя использовать ввод с клавиатуры (например, функцию readkey в Паскале), так как в этом случае ваша программа будет ждать ввода бесконечно (и будет снята с тестирования после превышения лимита времени).</p>
<p>Все задачи предполагают, что входные данные расположены в одном входном файле, имя которого определено в тексте задачи. Все входные данные считаются корректными и удовлетворяющими ограничениям, указанным в условии задачи, если это не оговорено явным образом. Программа должна формировать выходной файл с заданным именем. Все входные и выходные файлы располагаются в текущей директории.</p>
<strong>Необходимо строго соблюдать формат входного и выходного файлов!!!</strong>
<h3>Как проверяются решения?</h3>
Процедура проверки ваших решений происходит следующим образом:
<ol>
	<li>Сначала система создает файл <code>с именем, указанным в условии задачи, например, sum.in</code> с исходными данными</li>
	<li>Ваша программа должна обработать этот файл и записать результаты в <code>выходной файл с указанным именем, например, sum.out</code></li>
	<li>Система проверяет созданный вашей программой файл и выносит решение о его правильности</li>
</ol>
<p>Эта процедура – тест. Тестирование повторяется несколько раз на некотором наборе тестов, учитывающем различные варианты исходных данных, чтобы система могла выставить наиболее объективную оценку.</p>
<p>При полном решении вы получите максимальную оценку, которая положена за определенную задачу. Если ваше решение охватывает не полный перечень возможных вариантов, то сумма баллов будет соответствовать сумме баллов тех тестов, которые смогла пройти ваша программа. Итоги проверки по запросу доводятся до участников олимпиады по мере окончания проверки.</p>

<hr />

<h3>Как работать с файлами?</h3>
<p>Работа с файлами очень похожа на работу со стандартными потоками ввода/вывода.</p>

<div class="subtitle">Пример 1. Как начать работу с файлами</div>
<p>Чтобы начать работу с файлами, требуется создать потоки входного и выходного файла.</p>

<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#pascal1" role="tab" data-toggle="tab">Pascal</a></li>
	<li><a href="#cpp1" role="tab" data-toggle="tab">C++</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="pascal1">
		<pre class="prettyprint lang-pascal">
program mysolution;
begin
	assign(input, 'input.txt'); reset(input);
	assign(output, 'output.txt'); rewrite(output);

	close(input);
	close(output);
end.
		</pre>
	</div>
	<div class="tab-pane fade" id="cpp1">
		<pre class="prettyprint lang-cpp">
#include &lt;fstream&gt;
using namespace std;
int main()
{
	ifstream input("input.txt");
	ofstream output("output.txt");

	input.close();
	output.close();
}
		</pre>
	</div>
</div>

<hr />

<div class="subtitle">Пример 2. Чтение двух чисел и одной строки</div>
<p>Теперь разберем пример чтения двух чисел и одной строки из файла <code>input.txt</code>. Как результат выведем в файл <code>output.txt</code> через пробел сумму первых двух чисел и количество символов в строке.</p>
<p>Допустим, файл <code>input.txt</code> содержит следующее:</p>
<pre>
4 5
Some string
</pre>
<p>Очевидно, что <code>output.txt</code> должен содержать следующий текст:</p>
<pre>
9 11
</pre>
<p>Напишем программу, которая это сделает.</p>

<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#pascal2" role="tab" data-toggle="tab">Pascal</a></li>
	<li><a href="#cpp2" role="tab" data-toggle="tab">C++</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="pascal2">
		<pre class="prettyprint lang-pascal">
program mysolution;
var
a, b : integer;
s : string;
begin
	assign(input, 'input.txt'); reset(input);
	assign(output, 'output.txt'); rewrite(output);

	readln(a,b);
	readln(s);

	writeln(a+b, ' ', length(s));

	close(input);
	close(output);
end.
		</pre>
	</div>
	<div class="tab-pane fade" id="cpp2">
		<pre class="prettyprint lang-cpp">
#include &lt;fstream&gt;
#include &lt;string&gt;
using namespace std;
int main()
{
	ifstream input("input.txt");
	ofstream output("output.txt");
	int a,b;
	string s;
	input &gt;&gt; a &gt;&gt; b;
	input.ignore(); // Перевод на новую строку
	getline(input, s);
	output &lt;&lt; a+b &lt;&lt; " " &lt;&lt; s.length();

	input.close();
	output.close();
}
		</pre>
	</div>
</div>

<hr />

<div class="subtitle">Пример 3. Чтение N элементов</div>
<p>Разберем еще один пример, в котором в первой строке находится число N, а в следующих N строках находятся числа, сумму которых надо найти и вывести в <code>output.txt</code></p>
<p><b>input.txt</b></p>
<pre>
4
10
19
13
17
</pre>

<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#pascal3" role="tab" data-toggle="tab">Pascal</a></li>
	<li><a href="#cpp3" role="tab" data-toggle="tab">C++</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="pascal3">
		<pre class="prettyprint lang-pascal">
program mysolution;
var
	n, i, k, s : integer;
begin
	assign(input, 'input.txt'); reset(input);
	assign(output, 'output.txt'); rewrite(output);

	readln(n);

	s := 0;
	for i:=1 to n do
	begin
		readln(k);
		s := s + k;
	end;

	writeln(s);

	close(input);
	close(output);
end.
		</pre>
	</div>
	<div class="tab-pane fade" id="cpp3">
		<pre class="prettyprint lang-cpp">
#include &lt;fstream&gt;
using namespace std;
int main()
{
	ifstream input("input.txt");
	ofstream output("output.txt");

	int n, i, k, s;

	input &gt;&gt; n;
	s = 0;
	for (i = 0 ; i &lt; n ; i++) {
		input &gt;&gt; k; // При чтении чисел, обработчик пропускает перевод на новую строку автоматически
		s += k;
	}
	output &lt;&lt; s;

	input.close();
	output.close();
}
		</pre>
	</div>
</div>
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/prettify.js') }}"></script>
	<script src="{{ url_for('static', filename='js/lang-pascal.js') }}"></script>
	<script type="text/javascript">
		$(function () {
			prettyPrint();
		});
	</script>
{% endblock %}