<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{{content.title}}</title>
	<link href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.css') }}" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <script type="text/javascript">
    $(function() {

    $(window).scroll(function() {

    if($(this).scrollTop() != 0) {

    $('#toTop').fadeIn();

    } else {

    $('#toTop').fadeOut();

    }

    });

    $('#toTop').click(function() {

    $('body,html').animate({scrollTop:0},800);

    });

    });
    </script>

    {% include "nav.html" %}
    <div class="container">
    <div class="main">
            {% include "left.html" %}
            <div class="content">
                {% if content %}
                    {% if content.tmp_num == "1" %}
                        {% include "/lessons/1.html" %}
                    {% endif %}
                    {% if content.tmp_num == "2" %}
                        {% include "/lessons/2.html" %}
                    {% endif %}
                    {% if content.tmp_num == "3" %}
                        {% include "/lessons/3.html" %}
                    {% endif %}
                    {% if content.tmp_num == "4" %}
                        {% include "/lessons/4.html" %}
                    {% endif %}
                    {% if content.tmp_num == "5" %}
                        {% include "/lessons/5.html" %}
                    {% endif %}
                    {% if content.tmp_num == "6" %}
                        {% include "/lessons/6.html" %}
                    {% endif %}
                    {% if content.tmp_num == "7" %}
                        {% include "/lessons/7.html" %}
                    {% endif %}
                    {% if content.tmp_num == "8" %}
                        {% include "/lessons/8.html" %}
                    {% endif %}
                    {% if content.tmp_num == "9" %}
                        {% include "/lessons/9.html" %}
                    {% endif %}
                {% else %}
                    <h1>Нет доступной публикации по ссылке</h1>
                {% endif %}
            </div>
    </div>
    </div>
    <div id="toTop"> ^ Наверх </div>
</body>
</html>