<!doctype html>
<html>
    <head>
        <meta lang="ru">
        <meta charset="UTF-8">
        <title>Главное</title>
	    <link href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.css') }}" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
        
    </head>
    <body>
        {% include "nav.html" %}
        {% include "wrapper.html" %}
        {% include "footer.html" %}
    </body>
</html>