<nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CppCourses</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/main">Главное</a></li>
                            <li><a href="/index">Тестовые задачи</a></li>
                            <li><a href="/about">О проекте</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                        </ul>
                        <form action="/login" method="GET" id="signin"></form>
                        <form action="/register" method="GET" id="signup"></form>
                        <form action="/logout" method="GET" id="logout"></form>
                        {% if session %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="username-showed">{{session['name']}}</a>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default" type="submit" onclick="logout();">Выйти</button>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <button type="button" class="btn btn-default" type="submit" onclick="signup();">Регистрация</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default" type="submit" onclick="signin();">Войти</button>
                            </li>
                        </ul>
                        {% endif %}
                        <script type="text/javascript">
                            function signup() {
                                document.getElementById("signup").submit();
                            }

                            function signin() {
                                document.getElementById("signin").submit();
                            }

                            function logout() {
                                document.getElementById("logout").submit();
                            }
                        </script>
                </div>
            </div>
</nav>
