{% extends 'base.html' %}
{% block title %}{{ _('Registration') }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <h1>{{ _('Registration') }}</h1>
            {% for error in errors %}
                <p class="alert alert-warning">{{ error }}</p>
            {% endfor %}
        <form method="post" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="username">{{ _('Login') }}</label>
                <input id="username" name="username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">{{ _('Password') }}</label>
                <input id="password" name="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm">{{ _('Confirm password') }}</label>
                <input id="confirm" name="confirm" type="password" class="form-control">
            </div>
            {% for key, value in settings['users_attributes'].items() %}
            <div class="form-group">
                <label for="password">{{ value.title }}</label>
                <input id="password" name="{{ key }}" type="text" class="form-control" value="{{ data[key] }}">
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">{{ _('Register') }}</button>
        </form>
    </div>
</div>
{% endblock %}