{% extends 'base.html' %}
{% block title %}{{ _('Results') }}{% endblock %}
{% block caption %}{{ _('Results') }}{% endblock %}
{% block content %}
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>№</th>
            <th>{{ _('Participant') }}</th>
            {# for task in tasks.keys() %}
            <th width="50">{{ task }}</th>
            {% endfor #}
            {% for task in worktasks %}
            <th width="50">{{ task.code }}</th>
            {% endfor %}
            <th width="58">{{ _('Total') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for col in columns %}
                {% if col=='tasks' %}
                    {% for task in tasks.keys() %}
                        {% if cells[row['user']][task] and cells[row['user']][task]['attempts'] > 0 %}
            <td>
                {{ cells[row['user']][task]['maximum_points'] }}
            </td>
                        {% else %}
            <td>.</td>
                        {% endif %}
                    {% endfor %}
                {% else %}
            <td>{{ row[col] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}