<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Войти</title>
	<link href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.css') }}" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        {% if info %}
        <div class="warning_info"><p>{{info}}</p></div>
        {% endif %}
      <form class="form-signin" action="/signin" method="post">
        <h2 class="form-signin-heading">Пожалуйста введите логин и пароль</h2>
        <label for="inputEmail" class="sr-only">Email адрес</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email адрес" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" name="password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>

    </div> <!-- /container -->
    {% include "footer.html" %}
</body>
</html>