{% extends 'base.html' %}
{% block content %}
<h3>{{ task.name }}</h3>
{{ task.text|safe }}
<hr>
<form method='post' action="{{ url_for('task_submission', code=code) }}" role='form' enctype='multipart/form-data'>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        <label for="language">{{ _('Compiler') }}:</label>
        <select name="language" id="language" class="form-control">
            {% for code in languages %}
            <option value="{{ code }}" {% if session.last_language==code %}selected{% endif %}>{{ languages[code].name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="file">{{ _('Solution') }}:</label>
        <input type="file" name="file" id="file" class="hidden">
        <button class='btn btn-default' id='choose_button' type='button'>{{ _('Choose file') }}</button>
        <span id='filename'></span>
        <input class='btn btn-primary hidden' id='submit_button' type='submit' value="Отправить файл">
    </div>
</form>
<hr>
<p>
    <table class="table table-bordered" id="results">
        <thead>
            <tr>
                <th width="10">{{ _('Attempt') }}</th>
                <th>{{ _('Compiling result') }}</th>
                <th>{{ _('Testing on examples') }}</th>
                <th>{{ _('Tests') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for r in results %}
            <tr>
                <td>{{ r.attempt }}</td>
                {% if r.compilation %}
                <td>
                    {{ r.compilation }}
                </td>
                <td>
                    {% for test in r.preliminary %}
                    {{ test.test }}: <b>{{ test.result }}</b>,
                    {% endfor %}
                </td>
                <td>
                    {% if r.results %}
                    <a href="{{ url_for('task_results', code=code, attempt=r.attempt) }}">{{ _('Results') }}</a>
                    {% endif %}
                </td>
                {% else %}
                <td colspan="3">
                    {{ _('Testing...') }}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</p>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--<script src="{{ url_for('static', filename='mathjax/MathJax.js', config='TeX-AMS_HTML,local/local') }}"></script>-->
<script>
    $('#choose_button').click(function(){
        $('#file').trigger('click');
    });
    $('#file').change(function(e){
        var filename = this.value;
        var lastIndex = filename.lastIndexOf("\\");
        if (lastIndex >= 0) {
            filename = filename.substring(lastIndex + 1);
        }
        $('#filename').html(filename);
        $('#submit_button').removeClass('hidden');
    });
</script>
{% endblock %}