<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Тестовое задание</title>
	<link href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='../static/css/style.css') }}" rel="stylesheet">
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        <div class="main">
            {% if result %}
            <h1>{{result.title}}</h1>
            <p>{{result.description}}</p>
            {% else %}
                {% if info %}
                <p class="warning_info">{{info}}</p>
                {% endif %}
                <h1>Задача {{content.id}}</h1>
                <p>{{content.question}}</p>
                {% if content.code_content %}
                <code>{{content.code_content}}</code>
                {% endif %}
                <form action="/test/check" method="post">
                    <label><input type="radio" name="answer" value="1">{{content.answer1}}</label><br />
                    <label><input type="radio" name="answer" value="2">{{content.answer2}}</label><br />
                    <label><input type="radio" name="answer" value="3">{{content.answer3}}</label><br />
                    <label><input type="radio" name="answer" value="4">{{content.answer4}}</label><br />
                    <button class="btn btn-primary" type="submit" name="task_id" value="{{content.id}}">Далее</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>