{% extends 'base.html' %}
{% block title %}{{ _('Testing results') }}{% endblock %}
{% block caption %}{{ _('Testing results') }}{% endblock %}
{% block content %}
<h3>{{ tasks[code].name }}, {{ _('Attempt') }} {{ _('#') }}{{ attempt }}</h3>
{% for key, value in results.results.items()|sort %}
<p><strong>{{ tasks[code].test_suites[key].name }}:</strong></p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{ _('Test') }}</th>
            <th>{{ _('Result') }}</th>
        </tr>
    </thead>
    {% if tasks[code]['test_suites'][key]['results'] == 'full' %}
    <tbody>
        {% for res in value %}
        <tr>
            <td>{{ res.test }}</td>
            <td>{{ res.result }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
    <thead>
        <tr>
            <th>{{ _('Sum') }}</th>
            <th>{{ totals[key] }}</th>
        </tr>
    </thead>
</table>
{% endfor %}
<p><strong>{{ _('Total score') }}: {{ total }}</strong></p>
{% endblock %}