<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{{ settings['title'] }}</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style type="text/css"> html, body, table{ width: 100%; height: 100%; } table { text-align: center; } </style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <h3>{{ _('Testing...') }}</h3>
                    <img class="text-center" src="{{ url_for('static', filename='waiting.gif') }}">
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        window.setTimeout(function(){
            window.location.href = '{{ url_for('task_view', code=code) }}#results';
        }, 5000);
    </script>
</body>
</html>