<div class="wrapper">
            <div class="main">
                {% include "left.html" %}
                <div class="content">
                    <img src="../static/images/1.png"/>
                    <br>Этот самоучитель создан для тех, кто хочет освоить основы программирования на C++.
                        Уроки рассчитаны, в первую очередь на новичков,
                        но будут полезны и тем, кто уже имеет небольшой опыт
                        в программировании. Мы начнем с основных принципов и закончим данный
                        курс уже на более сложных примерах.
                    <br><br><br>
                    <form action="/lesson/1" method="get">
                        <button class="btn btn-primary" type="submit">НАЧАТЬ ОБУЧЕНИЕ</button>
                    </form>
                </div>
            </div>
        </div>